In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv('cleaning/training.csv')

# Constants
Teq_Earth = 288  # K
Ve_Earth = 11.2  # km/s
G = 6.673 * 10**-20  # Gravitational constant in units of (N*m^2)/(kg^2)
M_earth = 5.972 * 10**24  # Mass of Earth in kg
R_earth = 6378  # Radius of Earth in km

def calculate_esi(row):
    Re = row['pl_rade']
    Teq = row['pl_eqt']
    Ve = np.sqrt((2 * G * (row['pl_bmasse'] * M_earth)) / (row['pl_rade'] * R_earth))
    esi = (Re + Ve / Ve_Earth + Teq) / 3
    return esi

def calculate_hz(row):
    

# Add ESI column to the DataFrame
df['ESI'] = df.apply(calculate_esi, axis=1)

df_sorted = df[['rowid', 'hostname', 'ESI']].sort_values(by='ESI')

In [16]:
df_sorted

     rowid     hostname          ESI
143   2908   Kepler-167    49.923430
142   2885  Kepler-1654    73.110918
158   4742     LHS 1140    76.508584
153   4147   Kepler-553    92.038157
144   2953  Kepler-1704    92.149369
..     ...          ...          ...
211   5083     TOI-1431   798.130636
361   5575      WASP-18   819.380777
131   1833      KELT-16   825.423413
358   5505     WASP-103   843.458423
139   1848       KELT-9  1359.251688

[367 rows x 3 columns]